*{
    margin: 0;
    padding: 0;
}

#meter{
    position: relative;
margin: auto;
height: 40vh;
width: 60%;
background-color: cyan;  
align-items: center;   
}
#number{                    
margin: auto;
height: 19% ;
width: 32%;
left: 21%;
top: 27%;
font-size: 2em;
position: relative;
border-radius: 0%;
text-align: center;

}
#min{      
    position: relative;                   
    margin: auto;
    height: 19%; ;
    width: 11%;
    left: 9%;
top: 24%;
font-size: 2em;
}
#max{      
    position: relative;                   
    margin: auto;
    height:19%; 
    width: 11%;
    left: 32%;
top: 24%;
font-size: 2em;
}
#reset   {  
    position: relative;                    
left: 26%;
top: 28%;
height: 19%;
width: 45%;
font-size: 2em;
}
body{
   background-color: blanchedalmond;
}
#footer{
    margin: auto;
    text-align: center;
}