#clockContainer{
 margin: auto;
    height: 40vw;
    width: 40vw;
background-color:red;
background: url(images/images.png);

background-size: 100%;
}
#hour,#minute,#second{

    position:relative;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#minute{
    
    width: 1%;
    height: 32%;
    position: relative;
    left: 49.5%;
    top: -9.2%;
}
   


#hour{
    width: 1.8%;
    height: 27%;
    position: relative;
    left: 48.68%;
    top: 22%;
    
   
}
#second{
    width: .7%;
    height: 38%;
    position: relative;
    left: 49.99%;
    top: -47%;
}
.button{
    height: auto;
    width: auto;
}
#clockContainer1{
    margin: auto;
    height: 40vw;
    width: 40vw;
background-color:red;
background: url(images/clock-png-25782.png);

background-size: 100%;
}
#hour1,#minute1,#second1{

    position:relative;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#minute1{
    
    width: 1%;
    height: 32%;
    position: relative;
    left: 49.5%;
    top: -9.2%;
}
   


#hour1{
    width: 1.8%;
    height: 27%;
    position: relative;
    left: 48.68%;
    top: 22.8%;
    
   
}
#second1{
    width: .7%;
    height: 38%;
    position: relative;
    left: 48.99%;
    top: -48%;
}
.button{
    height: auto;
    width: auto;
}

.button{
    display: flex;
    float: right;
}